
<%if user_signed_in?%>

<p style="color: green"><%= notice %></p>
<div id="friends">
  <% @friends.each do |friend| %>
  <table class="table">
  <h1><%=friend.user.email%>'s friend list</h1>
    <%= render friend %>
  
  <% end %>
</div>
<%= link_to "New friend", new_friend_path %>
<%else%>
<%= render "home/home"%>
<%end%>



